# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Build / distribution
*.spec
*.exe
*.dmg
*.app
*.msi
*.zip
*.tar.gz
dist/
build/

# Logs / configs
*.log
*.tmp
*.bak

# Mac system files
.DS_Store

# IDE settings
.vscode/
.idea/

# Database / data
*.db
*.sqlite3

# Audio / video (tránh commit file nặng, nếu cần thì dùng Git LFS)
*.mp4
*.mp3
*.wav
